<div>
    {{#each products }}
        <div>
            <a href="/product/{{this.title}}">
                <b>{{this.title}}</b>
                <img src="{{this.img}}" height="50">
                <i>{{this.description}}</i>
            </a>
            hola que tal buen dia
        </div>
    {{/each}}
</div>