<h1>Login</h1>

<form action="/api/session/login" method="post">
    email: <input type="email" name="email">
    <br>
    pasword: <input type="text" name="password">

    <button type="submit"> Login </button>
    <br>
    <br>
    <a href="/login-github">Iniciar sesion con GitHub</a>

</form>