<h1>singup</h1>

<form action="/api/session/singup" method="post">
    First_name: <input type="text" name="first_name">
    last_name: <input type="text" name="last_name">
    age: <input type="number" name="age">
    email: <input type="email" name="email">
    pasword: <input type="text" name="password">

    <button type="submit"> Sign Up </button>

</form>